@import '../../scss/init';

.profile-page {
    @extend %withSidebar;
    position: relative;
    @include spacing(1rem, 2rem);

    .delete-button {
        border: 1px solid rgba(0, 0, 0, 0.6);
        background: transparent;
        border-radius: 3px;
        padding: 0.3rem 0.8rem;
    }
}

.booked-card {
    padding: 1rem;
}

.logout {
    padding: 0;
    border: none;
    background: transparent;
}